.nav-container {
  list-style-type: none;
}

li {
  display: inline;
  margin: 15px 15px;
  cursor: pointer;
  padding: 0.5em;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
}

li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background: #2D3047;
  -webkit-transition: 0.7s -webkit-transform cubic-bezier(0.06, 0.9, 0.28, 1);
  transition: 0.7s -webkit-transform cubic-bezier(0.06, 0.9, 0.28, 1);
  transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
  transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1), 0.7s -webkit-transform cubic-bezier(0.06, 0.9, 0.28, 1);
}

li:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
