@import url('https://fonts.googleapis.com/css?family=Kalam');


.news {
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  color: #2D3047;
  background-color: #FFFAEF;
  position: absolute;
  top: 120px;
  width: 100%;
}

.story-container{
  border-bottom: #2D3047 solid 1px;
  width: 70%;
  padding: 15px 0;
}

.title{
  font-family: 'Kalam', sans-serif;
  font-size: 1.5em;
}

.story-details {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 0.8em
}

/*.author{
}*/

a{
  color: #008B8B;
}
